 .u-section-1 {
  min-height: 884px;
  background-image: linear-gradient(#ccd3db, #77aad9);
}

.u-section-1 .u-shape-1 {
  height: 560px;
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1140px;
  margin: -490px auto 60px;
}

.u-section-1 .u-image-1 {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/f/fc/Pyinmana%2C_Myanmar_%28Burma%29_-_panoramio_%283%29.jpg/1200px-Pyinmana%2C_Myanmar_%28Burma%29_-_panoramio_%283%29.jpg");
  background-position: 50% 50%;
  min-height: 774px;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-1 .u-container-layout-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 774px;
}

.u-section-1 .u-container-layout-2 {
  padding: 73px 87px 30px 0;
}

.u-section-1 .u-image-2 {
  width: 468px;
  height: 599px;
  margin-top: -1px;
  margin-bottom: 0;
  object-position: 65.69% 50%;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 791px;
  }

  .u-section-1 .u-shape-1 {
    height: 550px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-1 .u-image-1 {
    min-height: 701px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 701px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 25px;
  }

  .u-section-1 .u-image-2 {
    width: 368px;
    height: 471px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 798px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 68px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-image-1 {
    min-height: 612px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 489px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 30px;
    padding-right: 33px;
  }

  .u-section-1 .u-image-2 {
    width: 315px;
    height: 403px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1520px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 55px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-image-1 {
    min-height: 635px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 734px;
  }

  .u-section-1 .u-container-layout-2 {
    padding: 50px 10px 30px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 967px;
  }

  .u-section-1 .u-shape-1 {
    height: 343px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
    margin-top: -283px;
    margin-bottom: 20px;
  }

  .u-section-1 .u-image-1 {
    min-height: 400px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 462px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.u-section-1 .u-image-1,
.u-section-1 .u-image-1:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-image-1.u-image-1.u-image-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  border-radius: 10px !important;
}

.u-section-1 .u-image-1.u-image-1.u-image-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  border-radius: 10px !important;
}

.u-section-1 .u-container-layout:hover .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-image-2,
.u-section-1 .u-image-2:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-image-2.u-image-2.u-image-2:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
}

.u-section-1 .u-image-2.u-image-2.u-image-2.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
}

.u-section-1 .u-container-layout:hover .u-image-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-image-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 68px;
}

.u-section-2 .u-btn-1 {
  border-style: none none solid;
  font-size: 1.125rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Pyidaungsu-2.5_Regular";
  margin: 18px 100px 0 auto;
  padding: 0;
}

.u-section-2 .u-btn-2 {
  font-weight: 700;
  background-image: none;
  border-style: none none solid;
  font-size: 1.125rem;
  margin: -30px 0 0 auto;
  padding: 0;
}

.u-section-2 .u-btn-3 {
  border-style: none none solid;
  font-size: 1.125rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Pyidaungsu-2.5_Regular";
  margin: -29px 236px 17px auto;
  padding: 0;
}

.u-section-2 .u-icon-2 {
  padding: 2px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-2 {
    margin-top: 20px;
  }

  .u-section-2 .u-btn-3 {
    margin-top: 20px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 78px;
  }

  .u-section-2 .u-btn-1 {
    align-self: center;
    margin-top: 24px;
    margin-right: auto;
    margin-left: 40px;
  }

  .u-section-2 .u-btn-2 {
    align-self: center;
    margin-top: -30px;
    margin-right: auto;
    margin-left: 246px;
  }

  .u-section-2 .u-btn-3 {
    margin: -30px auto 24px 153px;
  }
} .u-section-3 {
  min-height: 100vh;
}

.u-section-3 .u-image-1 {
  height: 378px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-image-2 {
  width: 159px;
  height: 159px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: url("images/MOC2.png");
  background-position: 50% 50%;
  margin: -283px auto 0;
}

.u-section-3 .u-tabs-1 {
  min-height: 404px;
  margin-top: 144px;
  margin-bottom: 0;
}

.u-section-3 .u-tab-link-1 {
  font-size: 1.125rem;
  background-image: none;
  font-weight: 400;
  padding: 10px;
}

.u-section-3 .u-tab-link-2 {
  font-size: 1.125rem;
  background-image: none;
  font-weight: 400;
  padding: 10px;
}

.u-section-3 .u-tab-link-3 {
  font-size: 1.125rem;
  background-image: none;
  font-weight: 400;
  padding: 10px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 1.5rem;
}

.u-section-3 .u-text-2 {
  margin-top: 20px;
  margin-bottom: 0;
  line-height: 1.8;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-tab-pane-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 0;
}

.u-section-3 .u-text-3 {
  line-height: 1.8;
  font-size: 1rem;
  margin: 0 29px 0 52px;
}

.u-section-3 .u-tab-pane-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 0;
}

.u-section-3 .u-text-4 {
  font-size: 1rem;
  margin: 30px 30px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-tabs-1 {
    height: auto;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 1063px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 1px;
  }

  .u-section-3 .u-tabs-1 {
    min-height: 664px;
    margin-bottom: 1px;
  }

  .u-section-3 .u-tab-link-1 {
    font-size: 1rem;
  }

  .u-section-3 .u-tab-link-2 {
    font-size: 1rem;
  }

  .u-section-3 .u-tab-link-3 {
    font-size: 1rem;
  }

  .u-section-3 .u-text-3 {
    font-size: 0.875rem;
    width: auto;
    margin-top: 51px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-3 .u-text-4 {
    font-size: 0.875rem;
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 618px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 558px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-shape-1 {
  width: 327px;
  height: 327px;
  margin: 47px auto 0;
}

.u-section-4 .u-image-1 {
  height: 490px;
  width: 313px;
  margin: -425px auto 0;
}

.u-section-4 .u-gallery-1 {
  height: 375px;
  width: 194px;
  margin: -416px 85px 0 auto;
}

.u-section-4 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-4 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-4 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-4 .u-carousel-thumbnails-1 {
  padding-top: 10px;
}

.u-section-4 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-4 .u-carousel-thumbnail-2 {
  width: 100px;
  height: 100px;
}

.u-section-4 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-4 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  top: 122px;
  padding: 4px;
}

.u-section-4 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
  top: 122px;
  padding: 4px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 558px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-4 .u-text-1 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 300;
  margin: 19px 518px 0 0;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  font-size: 3rem;
  margin: 20px 1px 0 0;
}

.u-section-4 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-4 .u-text-4 {
  font-size: 1.25rem;
  font-weight: 300;
  margin: 20px auto 0 0;
}

.u-section-4 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 30px auto 0 0;
  padding: 15px 61px 17px 60px;
}

.u-section-4 .u-text-5 {
  text-align: left;
  margin: 20px auto 0 0;
}

.u-section-4 .u-btn-2 {
  border-style: none none solid;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 642px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 460px;
  }

  .u-section-4 .u-shape-1 {
    margin-top: 0;
  }

  .u-section-4 .u-carousel-thumbnail-1 {
    width: 92px;
    height: 92px;
  }

  .u-section-4 .u-carousel-thumbnail-2 {
    width: 58px;
    height: 58px;
  }

  .u-section-4 .u-carousel-thumbnail-1 {
    width: 92px;
    height: 92px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 460px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 384px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 520px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-shape-1 {
    margin-top: 60px;
    margin-right: 0;
  }

  .u-section-4 .u-image-1 {
    width: 252px;
    margin-top: -430px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 201px;
  }

  .u-section-4 .u-text-2 {
    font-size: 2.25rem;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1287px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 23px;
    padding-bottom: 23px;
  }

  .u-section-4 .u-shape-1 {
    width: 471px;
    height: 471px;
    margin-top: 0;
    margin-right: auto;
  }

  .u-section-4 .u-image-1 {
    height: 602px;
    width: 336px;
    margin-top: -536px;
    margin-left: 98px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 466px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1164px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 492px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-4 .u-shape-1 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-image-1 {
    height: 545px;
    width: 304px;
    margin-top: -442px;
    margin-left: auto;
  }

  .u-section-4 .u-gallery-1 {
    height: 419px;
    width: 220px;
    margin-top: -460px;
    margin-right: 50px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 1px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.5rem;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 402px;
}

.u-section-5 .u-text-1 {
  margin: 55px auto 0;
}

.u-section-5 .u-text-2 {
  width: 679px;
  margin: 20px auto 0;
}

.u-section-5 .u-list-1 {
  grid-template-rows: auto;
  margin: 20px 0 55px;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px);
  grid-gap: 10px 10px;
  min-height: 188px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-image-1 {
  width: 202px;
  height: 79px;
  margin: 0 auto;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-image-2 {
  width: 202px;
  height: 79px;
  margin: 0 auto;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-image-3 {
  width: 202px;
  height: 79px;
  margin: 0 auto;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px;
}

.u-section-5 .u-image-4 {
  width: 202px;
  height: 79px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 369px;
  }

  .u-section-5 .u-list-1 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 346px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-5 .u-list-1 {
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-2 {
    width: 540px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-2 {
    width: 340px;
  }

  .u-section-5 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-image-2 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-image-3 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-image-4 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
} .u-section-6 {
  background-image: none;
  min-height: 859px;
}

.u-section-6 .u-image-1 {
  height: 590px;
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-6 .u-list-1 {
  width: 1033px;
  margin: -306px auto -76px;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 22px));
  min-height: 515px;
  grid-gap: 33px;
}

.u-section-6 .u-list-item-1 {
  background-image: none;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 25px;
}

.u-section-6 .u-image-2 {
  width: 185px;
  height: 185px;
  background-image: url("images/ClassA4.jpg");
  background-position: 50% 50%;
  margin: 17px auto 0;
}

.u-section-6 .u-text-1 {
  font-size: 1.25rem;
  margin: 52px auto 0 0;
}

.u-section-6 .u-text-2 {
  text-transform: none;
  letter-spacing: normal;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 40px auto 0 0;
}

.u-section-6 .u-text-3 {
  margin: 14px auto 0 0;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px 25px;
}

.u-section-6 .u-image-3 {
  width: 185px;
  height: 185px;
  background-image: url("images/-ClassA2.jpg");
  background-position: 50% 50%;
  margin: 17px auto 0;
}

.u-section-6 .u-text-4 {
  font-size: 1.25rem;
  margin: 52px auto 0 0;
}

.u-section-6 .u-text-5 {
  text-transform: none;
  letter-spacing: normal;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 40px auto 0 0;
}

.u-section-6 .u-text-6 {
  margin: 14px auto 0 0;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px 25px;
}

.u-section-6 .u-image-4 {
  width: 185px;
  height: 185px;
  background-image: url("images/-ClassA-85.jpg");
  background-position: 50% 50%;
  margin: 17px auto 0;
}

.u-section-6 .u-text-7 {
  font-size: 1.25rem;
  margin: 52px auto 0 0;
}

.u-section-6 .u-text-8 {
  text-transform: none;
  letter-spacing: normal;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 40px auto 0 0;
}

.u-section-6 .u-text-9 {
  margin: 14px auto 0 0;
}

@media (max-width: 1199px) {
   .u-section-6 {
    min-height: 850px;
  }

  .u-section-6 .u-list-1 {
    width: 940px;
    margin-bottom: -85px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 22px));
    min-height: 469px;
  }
}

@media (max-width: 991px) {
   .u-section-6 {
    min-height: 1422px;
  }

  .u-section-6 .u-list-1 {
    width: 720px;
    margin-bottom: -25px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 16.5px));
    min-height: 1078px;
  }
}

@media (max-width: 767px) {
   .u-section-6 {
    min-height: 1736px;
  }

  .u-section-6 .u-list-1 {
    width: 300px;
    margin-bottom: 60px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 1392px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-6 {
    min-height: 850px;
  }

  .u-section-6 .u-list-1 {
    margin-left: calc(((100% - 340px) / 2));
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 645px;
}

.u-section-7 .u-text-1 {
  margin: 60px 737px 0 0;
}

.u-section-7 .u-text-2 {
  margin: 20px 578px 0 0;
}

.u-section-7 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 41px;
  margin-bottom: 30px;
}

.u-section-7 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 20px) calc(33.3333% - 20px) calc(33.3333% - 20px);
  grid-gap: 30px 30px;
  min-height: 337px;
}

.u-section-7 .u-list-item-1 {
  background-image: none;
}

.u-section-7 .u-container-layout-1 {
  padding: 0;
}

.u-section-7 .u-group-1 {
  min-height: 96px;
  margin: 0 auto 0 0;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px;
}

.u-section-7 .u-text-3 {
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 1.75rem;
  margin: 0;
}

.u-section-7 .u-image-1 {
  height: 240px;
  margin: 0 auto 0 0;
}

.u-section-7 .u-list-item-2 {
  background-size: auto;
}

.u-section-7 .u-container-layout-3 {
  padding: 0;
}

.u-section-7 .u-group-2 {
  min-height: 96px;
  background-size: auto;
  margin: 0 auto 0 0;
}

.u-section-7 .u-container-layout-4 {
  padding: 30px;
}

.u-section-7 .u-text-4 {
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 1.75rem;
  margin: 0;
}

.u-section-7 .u-image-2 {
  height: 240px;
  margin: 0 auto 0 0;
}

.u-section-7 .u-list-item-3 {
  background-size: auto;
}

.u-section-7 .u-container-layout-5 {
  padding: 0;
}

.u-section-7 .u-group-3 {
  min-height: 96px;
  background-size: auto;
  margin: 0 auto 0 0;
}

.u-section-7 .u-container-layout-6 {
  padding: 30px;
}

.u-section-7 .u-text-5 {
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 1.75rem;
  margin: 0;
}

.u-section-7 .u-image-3 {
  height: 240px;
  margin: 0 auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 637px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 537px;
  }

  .u-section-7 .u-text-2 {
    margin-right: 378px;
  }

  .u-section-7 .u-repeater-1 {
    min-height: 542px;
  }

  .u-section-7 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-7 .u-image-1 {
    height: 198px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-group-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-text-4 {
    font-size: 1.5rem;
  }

  .u-section-7 .u-image-2 {
    height: 198px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-group-3 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-text-5 {
    font-size: 1.5rem;
  }

  .u-section-7 .u-image-3 {
    height: 198px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-text-1 {
    margin-right: 317px;
  }

  .u-section-7 .u-text-2 {
    margin-right: 158px;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: calc(50% - 15px) calc(50% - 15px);
  }

  .u-section-7 .u-image-1 {
    height: 227px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-2 {
    height: 227px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-3 {
    height: 227px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-text-1 {
    margin-right: 137px;
  }

  .u-section-7 .u-text-2 {
    margin-right: 0;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-1 {
    height: 341px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-2 {
    height: 341px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-3 {
    height: 341px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-text-1 {
    margin-right: 0;
  }

  .u-section-7 .u-image-1 {
    height: 215px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-2 {
    height: 215px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-3 {
    height: 215px;
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 559px;
}

.u-section-8 .u-tabs-1 {
  min-height: 439px;
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-8 .u-tab-link-1 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-8 .u-tab-link-2 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-8 .u-tab-link-3 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-8 .u-tab-item-4 {
  margin-bottom: 0;
}

.u-section-8 .u-tab-link-4 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-8 .u-tab-pane-1 {
  background-image: none;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px;
}

.u-section-8 .u-image-1 {
  width: 258px;
  height: 336px;
  margin: 0 auto 0 0;
}

.u-section-8 .u-text-1 {
  line-height: 1.8;
  font-weight: 700;
  margin: -336px 0 0 293px;
}

.u-section-8 .u-text-2 {
  line-height: 1.8;
  margin: 11px 361px 0 293px;
}

.u-section-8 .u-text-3 {
  margin: 20px 361px 0 293px;
}

.u-section-8 .u-btn-1 {
  border-style: none none solid;
  padding: 0;
}

.u-section-8 .u-tab-pane-2 {
  background-image: none;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px;
}

.u-section-8 .u-text-4 {
  line-height: 1.8;
  margin: 0;
}

.u-section-8 .u-tab-pane-3 {
  background-image: none;
}

.u-section-8 .u-container-layout-3 {
  padding: 30px;
}

.u-section-8 .u-text-5 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-8 .u-text-6 {
  margin: 40px 0 0;
}

.u-section-8 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 20px 0 0;
}

.u-section-8 .u-tab-pane-4 {
  background-image: none;
}

.u-section-8 .u-container-layout-4 {
  padding: 30px;
}

.u-section-8 .u-text-7 {
  line-height: 1.8;
  margin: 20px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-tabs-1 {
    height: auto;
  }

  .u-section-8 .u-image-1 {
    height: 365px;
  }

  .u-section-8 .u-text-1 {
    width: auto;
    margin-top: -365px;
    margin-left: 298px;
  }

  .u-section-8 .u-text-2 {
    width: auto;
    margin-top: 20px;
    margin-right: 0;
    margin-left: 298px;
  }

  .u-section-8 .u-text-3 {
    width: auto;
    margin-top: 40px;
    margin-right: 0;
    margin-left: 298px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-text-1 {
    margin-left: 306px;
  }

  .u-section-8 .u-text-2 {
    margin-top: 19px;
    margin-left: 306px;
  }

  .u-section-8 .u-text-3 {
    margin-top: 30px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-container-layout-1 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-8 .u-image-1 {
    height: 579px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-8 .u-text-1 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-8 .u-text-2 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-8 .u-text-3 {
    margin-right: 94px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-8 .u-image-1 {
    height: 372px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-text-1 {
    margin-right: 0;
  }

  .u-section-8 .u-text-2 {
    margin-right: 0;
  }

  .u-section-8 .u-text-3 {
    margin-right: 0;
  }
}@font-face {
  font-family: 'Pyidaungsu-2.5_Regular';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Pyidaungsu-2.5_Regular.ttf);
}